body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  color: pink;
  font-size: 25px;
  border-color: pink;
  border-radius: 10px;
  background-color: black;
  border-width: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 30px 30px;
  text-align: center;
}

.name,
.email,
.password,
.checkbox-container,
.input {
  color: purple;
  font-size: 25px;
  border-color: pink;
  border-radius: 10px;
  background-color: lightgray;
  border-width: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 30px 30px;
  text-align: center;
}

.user-form {
  text-align: center;
}

.checkbox-container {
  border-radius: 3px;
  text-align: right;
  color: purple;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px 10px;
  text-align: center;
  background-color: white;
}

h1 {
  text-align: center;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 40px;
  color: purple;
}
